<div class="container">
  <h2>Inventario</h2>

  <div class="filtros">
    <input type="text" placeholder="Filtrar por nombre" [(ngModel)]="filterName" (input)="applyFilter()">
    <input type="text" placeholder="Filtrar por tipo" [(ngModel)]="filterTipo" (input)="applyFilter()">
    <input type="text" placeholder="Filtrar por responsable" [(ngModel)]="filterResponsable" (input)="applyFilter()">
    <input type="text" placeholder="Filtrar por estado" [(ngModel)]="filterEstado" (input)="applyFilter()">
    <input type="number" placeholder="Filtrar por cantidad mínima" [(ngModel)]="filterCantidad" (input)="applyFilter()">

  </div>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materialesFilter; trackBy: trackById" [@fadeOut]
          [ngClass]="{
            'bajo-stock': material.cantidad < 3,
            'cantidad-baja': material.cantidad >= 3 && material.cantidad < 5,
            'estado-danado': material.estado === 'Dañado'
          }">
        <td>{{ material.nombre }}</td>
        <td>{{ material.tipo }}</td>
        <td>{{ material.cantidad }}</td>
        <td>
          <button (click)="verDetalles(material)">🔍</button>
          <button (click)="editarMaterial(material)">🖊</button>
          <button (click)="eliminarMaterial(material)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <app-detalles *ngIf="materialSeleccionado" [material]="materialSeleccionado" (cerrar)="materialSeleccionado = null"> </app-detalles>


  <div *ngIf="materialEditando" class="edicion">
    <h3>Editar Material</h3>
  
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="materialEditando.nombre">
  
    <label>Cantidad:</label>
    <input
      type="number"
      [(ngModel)]="materialEditando.cantidad"
      [ngClass]="{
        'borde-rojo': materialEditando.cantidad < 3,
        'borde-amarillo': materialEditando.cantidad >= 3 && materialEditando.cantidad < 5
      }"
    />
  
    <label>Estado:</label>
    <select [(ngModel)]="materialEditando.estado">
      <option *ngFor="let estado of estadosDisponibles" [value]="estado">{{ estado }}</option>
    </select>

    <label>Ubicación:</label>
    <select [(ngModel)]="materialEditando.ubicacion">
      <option *ngFor="let ubicacion of ubicacionesDisponibles" [value]="ubicacion">{{ ubicacion }}</option>
    </select>

    <button (click)="guardarEdicion()" [disabled]="!materialEditando.estado || !materialEditando.ubicacion || materialEditando.cantidad < 0"> 
      Guardar </button>
    <button (click)="materialEditando = null">Cancelar</button>
  </div>
  
  
</div>
