<form [formGroup]="materialForm" (ngSubmit)="guardarMaterial()">
  <div>
    <label>Código:</label>
    <input type="text" formControlName="codigo">
  </div>

  <div>
    <label>Nombre:</label>
    <input type="text" formControlName="nombre">
  </div>

  <div>
    <label>Tipo:</label>
    <select formControlName="tipo">
      <option value="Electrónica">Electrónica</option>
      <option value="Papelería">Papelería</option>
      <option value="Ferretería">Ferretería</option>
    </select>
  </div>

  <div>
    <label>Cantidad:</label>
    <input type="number" formControlName="cantidad">
  </div>

  <div>
    <label>Ubicación:</label>
    <select formControlName="ubicacion">
      <option value="">Seleccione una ubicación</option>
      <option *ngFor="let ubicacion of ubicacionesDisponibles" [value]="ubicacion">
        {{ ubicacion }}
      </option>
    </select>
  </div>
  

  <div>
    <label>Fecha de Ingreso:</label>
    <input type="date" formControlName="fecha_ingreso">
  </div>

  <div>
    <label>Responsable:</label>
    <input type="text" formControlName="responsable">
  </div>

  <div>
    <label>Proveedor:</label>
    <input type="text" formControlName="proveedor">
  </div>
  
  <div>
    <label>Descripción:</label>
    <textarea formControlName="descripcion"></textarea>
  </div>

  <button type="submit" [disabled]="materialForm.invalid">Guardar Material</button>
</form>
